<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="Federation" type="nz.govt.moe.idp.saml.client.config.ConfigurationReader, nz.govt.moe.idp.saml.client"/>
    <section name="SAML20Federation" type="nz.govt.moe.idp.saml.client.config.ConfigurationReader, nz.govt.moe.idp.saml.client"/>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>-->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Description-20170519121124.mdf;Initial Catalog=aspnet-Description-20170519121124;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--<log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\temp\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss}-%m%n"/>
      </layout>
    </appender>
  </log4net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
    
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>


  <!-- Session provider defaults to dk.nita.saml20.session.inproc.InProcSessions if sessionType is not defined. -->
  <!-- auditLoggingType="nz.govt.moe.idp.saml.client.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" -->
  <Federation xmlns="urn:nz.govt.moe.idp.saml.client.configuration">
    <!-- TODO: I believe Sessions should last a long time. But hey...do as you see best. 
         This determines the amount of time before it redirects you to the IdP -->
    <SessionTimeout>30</SessionTimeout>
    <!-- TODO: This is the Cert that is used for signing the metadata. It's common to use the same cert that is being used
         to back HTTPS of this site. 
         It's important that you find the cert
         a) by StoreName and FindBySubjectDistinguishedName - even if it often easier to get FindByThumbprint up and running,
         b) In My (not Root, even if you do happen to *also* register Self-Signed Certs in Root.
         c) In LocalMachine (UserStore is only ok on a Dev Machine, but in Prod the service will be running under
            a service account, which will be given rights to access the Private Key Certs installed in the LocalMachine.
         d) The cert is installed with a private Key (can see the little key using MMC/Certs.
         d) The account the service is running under (in dev, it runs under dev's account, in prod it runs under svc_...etc.)
            has been given rights to access the private key of the cert, or else it can't sign anything.
         -->
    <SigningCertificate findValue="CN=localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
    <!-- The list of allowed audiences must at least contain the id of this service provider. -->
    <AllowedAudienceUris>
      <!-- TODO: This is the ID (not a navigable URL) of SPs that can access this site.
           This list obviously includes our own (this site) SP's id.
           ...must match EXACTLY (case, etc.) of serviceProvider@id defined elsewhere
           in this file. 
           Again. This is the ID, which even if appears as an Url, is just a string. 
           In most cases, other than this demo, the @audience == @id == @server variable ... all with no terminating slash -->
      <Audience>https://nz.govt.nz.idp.saml.client.localhost.demo</Audience>
    </AllowedAudienceUris>
    <!-- TODO: These are a set of custom Actions that are built into the pipeline of the Handlers.
         Note how although several of the Actions point to the SAML client library, 
         one of them points to a custom handler in this website 
         (ie, you'll have to duplicate it in your app) -->
    <Actions>
      <clear/>
      <add name="SetSamlPrincipal" type="nz.govt.moe.idp.saml.client.Actions.SamlPrincipalAction, nz.govt.moe.idp.saml.client "/>
      <add name="LogAction" type="ServiceProviderMVC.Actions.LogAction, ServiceProviderMVC"/>
      <add name="Redirect" type="nz.govt.moe.idp.saml.client.Actions.RedirectAction, nz.govt.moe.idp.saml.client"/>
    </Actions>
  </Federation>

  <!-- TODO: Secure your paths. In this demo, we only locked off one page.
       If you do lock off access to your whole site, 
       remember to always leave access to the handlers/ directory, or you'll 
       never be able to sign in....
       -->
  <location path="home/secured">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


  <SAML20Federation xmlns="urn:nz.govt.moe.idp.saml.client.configuration">
    <!-- TODO: Debugging SAML is hard. Leave as true till deployed. -->
    <ShowError>true</ShowError>
    <!-- Here is where we are describing the SP (ourselves) 
    The ID is by convention an URL, with the same name as the SP's actual site, but it is NOT used to build
    urls (it's just a string).  On the other hand, the 'server' is the base url of this SP.
    In Both cases (@id and @server) DO NOT ADD A SLASH AT THE END.
    But do put a slash at the beginning of ServiceEndpoint@localpath to the handlers 
    as a slash is required when it is combined with ServiceProvider@server.... get it?
    -->
    <!-- TODO: Update the @id and @server values as per the above instructions -->
    <!-- TODO: TIP: If you change @server value, make sure you update the cdc url further down to match it.-->
    <ServiceProvider id="https://nz.govt.nz.idp.saml.client.localhost.demo" server="https://localhost:44306">
      <!-- TODO: The RedirectUrl is ungraceful...but has to be setup -->
      <ServiceEndpoint localpath="/handlers/signon.ashx" type="signon" redirectUrl="/Home/Secured" index="0"/>
      <ServiceEndpoint localpath="/handlers/signoff.ashx" type="logout" redirectUrl="/Home/Index" index="1"/>
      <ServiceEndpoint localpath="/handlers/signoff.ashx" type="soaplogout" errorBehaviour="throwexception"/>
      <ServiceEndpoint localpath="/handlers/metadata.ashx" type="metadata"/>

      <!-- TODO: put here information for the person in charge of the IdP, so they know 
           who to contact in case they need to. -->
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>MOE</md:Company>
        <md:GivenName>help</md:GivenName>
        <md:SurName>desk</md:SurName>
        <md:EmailAddress>support@education.govt.nz</md:EmailAddress>
        <md:TelephoneNumber>...</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <!-- TODO: List here the Attributes you want the IdP to return
         You get this list by negotiating with the people who
         manage the IdP....bit of a mess getting the list worked 
         out -->
    <RequestedAttributes>
      <att name="urn:oid:2.5.4.4" isRequired="true"/>
      <att name="urn:oid:2.5.4.3" isRequired="true"/>
      <att name="urn:oid:0.9.2342.19200300.100.1.1" isRequired="true"/>
      <att name="Email" isRequired="true"/>
      <att name="dk:gov:saml:attribute:AssuranceLevel" isRequired="true"/>
      <att name="dk:gov:saml:attribute:SpecVer" isRequired="true"/>
      <att name="urn:oid:2.5.4.5" isRequired="true"/>
      <att name="dk:gov:saml:attribute:IsYouthCert" isRequired="true"/>
      <att name="dk:gov:saml:attribute:UniqueAccountKey" isRequired="false"/>
      <att name="dk:gov:saml:attribute:CvrNumberIdentifier" isRequired="false"/>
      <att name="urn:oid:2.5.4.10" isRequired="false"/>
      <att name="urn:oid:2.5.4.11" isRequired="false"/>
      <att name="urn:oid:2.5.4.12" isRequired="false"/>
      <att name="urn:oid:2.5.4.16" isRequired="false"/>
      <att name="urn:oid:2.5.4.65" isRequired="false"/>
      <att name="urn:oid:1.3.6.1.4.1.1466.115.121.1.8" isRequired="true"/>
      <att name="dk:gov:saml:attribute:PidNumberIdentifier" isRequired="false"/>
      <att name="dk:gov:saml:attribute:RidNumberIdentifier" isRequired="false"/>
      <att name="urn:oid:2.5.29.29" isRequired="true"/>
    </RequestedAttributes>
    <!-- TODO: Keep on eye on this...might prove interesting when negotiating with the Org's IdP people...-->
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>

    
    
    <!-- TODO: THis is the *relative* path to where we kept a copy of the IdP's metadata. 
               You should probably leave it as is in your app. -->
    <IDPEndPoints metadata="metadata">
      <!-- add id="http://commondomain.local/">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20" />
        </CertificateValidation>
      </add -->
      <!-- TODO: Set this to the url of the IDP  (not this SP). -->
      <add id="https://localhost:9000/">
        <CertificateValidation>
          <add type="nz.govt.moe.idp.saml.client.Specification.SelfIssuedCertificateSpecification, nz.govt.moe.idp.saml.client"/>
        </CertificateValidation>
      </add>
    </IDPEndPoints>

    <!-- TODO: Set this to our own url (the SPs) + the handler to the cdc reader. No idea what it does though. -->
    <CommonDomain enabled="false" localReaderEndpoint="https://localhost:44306/handlers/cdcreader.ashx"/>
  </SAML20Federation>




  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/Handlers/signon.ashx" name="DemoServiceProvider" timeout="30"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.webServer>
    <!--
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    -->
  </system.webServer>
  
</configuration>