@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Unsercured Page</h1>

<h2>Overview</h2>
    This site is just a demo, and as such, does not have much in it.
<br />
    It consists of
<ul>
    <li>pages (one unsecured, and one secured page), </li>
    <li>a couple of *.ashx pages that are registered in the web.config, to wrap handlers defined in the saml client library </li>
    <li>2 sections in the webconfig to configure the client library (one to describe itself (the SP), and one describing info about the IdP)</li>
</ul>
