@{
    ViewBag.Title = "Home Page";
}

<div>
   <h1>MOE IDP SAML Client Demo</h1>
    <p class="lead">This  is demo....</p>    
</div>

<div class="row">
        <h2>When ready...</h2>



    <p>
        <h3>Navigation</h3>
        <div>
            When you have established Mutual Trust between the IdP and SP, by each party generating a metadata describing itself,
            and each party saving the other's metadata (see above), you might be ready to navigate to a secured page, which should
            bounce you out of this Service Provider (SP)s website, off to a remote IdP (look at the urls in your browser).
        </div>
        <li>@Html.ActionLink("Secured Page", "Secured", "Home")</li>
    </p>
</div>
<div>
    <h3>Notes:</h3>
    <li><h5><i>CONFIG/SAML20Federation/ServiceProvider/server name  must end with SLASH(/) is FALSE</i></h5></li>
    <li><h5><i>Use CONFIG/Federation/SigningCertificate/x509FindType = 'FindBySubjectDistinguishedName' if the findValue is CN name of a certificate</i></h5></li>
    <li><h5><i>Use CONFIG/Federation/SigningCertificate/x509FindType = 'FindByThumbprint' if the findValue is Thumbprint of a certificate</i></h5></li>
    <li><h5><i>Give any ID value for the CONFIG/ServiceProvider/id for example nz.govt.nz.idp.saml.client.demo.asp.net</i></h5></li>
    <li><h5><i>CONFIG/ServiceProvider/id doesnot end with SLASH, Handlers have a slash at the begenning for example CONFIG/ServiceProvider/ServiceEndpoint/localpath='/handlers/login.ashx'</i></h5></li>
</div>

