@{
    ViewBag.Title = "Home Page";
}

<div>
   <h1>MOE IDP SAML Client Demo</h1>
    <p class="lead">THis demo....</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
        <h2>When ready...</h2>



    <p>
        <h3>Navigation</h3>
        <div>
            When you have established Mutual Trust between the IdP and SP, by each party generating a metadata describing itself,
            and each party saving the other's metadata (see above), you might be ready to navigate to a secured page, which should
            bounce you out of this Service Provider (SP)s website, off to a remote IdP (look at the urls in your browser).
        </div>
        <li>@Html.ActionLink("Secured Page", "Secured", "Home")</li>

    </p>
</div>

