@using nz.govt.moe.idp.saml.client.config

@{
    bool certificateMissing;
    try
    {
        FederationConfig.GetConfig().SigningCertificate.GetCertificate();
        certificateMissing = false; // GetCertificate() throws an exception when the certificate can not be retrieved.
    } catch(Exception e)
    {
        certificateMissing = true;
    }
}
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h2>Preparation</h2>
<div>
    <h3>Certs</h3>
</div>
<div>
    <h3>SSL</h3>
</div>
<div>
    <h3>Web Config Configuration</h3>
</div>
<div>
    <h3>Metadata Generation</h3>
</div>
<div>
    <h3>Metadata Exchange</h3>
</div>

<div style="margin-top: 1em; ">
   
        The IDentity Provider (IdP) and the service provider (SP) must exchange metadata in order to establish SAML connections.
        @if (string.IsNullOrEmpty(SAML20FederationConfig.GetConfig().Endpoints.MetadataLocation))
        {
            <p style="width: 50em;">
                You must add the <b>&lt;IDPEndPoints&gt;</b> tag to the <b>"<%= ConfigurationConstants.SectionNames.SAML20Federation %>"</b> section of the
                application's configuration file in order to continue.
            </p>
        }
        else if (@certificateMissing)
        {
                < div style = "color: Red;" >
                    The specified certificate could not be found. Please correct
                    the certificate information in the "@ConfigurationConstants.SectionNames.Federation" section of the configuration file.
                </ div >
        }
        else
        {
            <p>
                The Identity provider's metadata should be put in the directory <b>"@SAML20FederationConfig.GetConfig().Endpoints.MetadataLocation"</b>.<br /><br />
                The metadata of the service provider can be downloaded <a href = "/handlers/metadata.ashx" > here </a >.
            </p>
        }
</div>
